.data{
    display:grid;
    grid-template-columns: 15fr 10fr 2fr;
    border:1px solid rgb(196,196,196);
    padding: 14px;
}
.btn{
    padding: 2px;
    width: 73px;
    margin-right: 28px;

}
.user{
    margin-left: 14px;

}