.newbooking-btn{
    margin-left: 11px;
}
.newbooking-box{
    margin-left: 20px;
    padding: 32px;
   border-radius: 10px;
    width: fit-content;
    height: fit-content;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
.newbooking-heading{
    padding: 10px;
    font-size: 30px;
    font-weight: 900;

}
.newbooking-main{
    margin-left: 0px;
    /* padding: 31px; */
    border: 1px solid;
    width: 100%;
    height: 664px;
    background-color: rgb(196,196,196,196);
    margin-top: 0px;
    position: absolute;
    display: grid;
    align-items: center;
}
.newbooking-btn{
    display: flex;
   
}
.newbooking-btn2{
    margin-top: 14px;
    margin-left: 11px;
    display: flex;
    
}



















@media only screen and (max-width: 850px){
    .newbooking-main{
        height: fit-content;
    }

    input{
        width: 320px;
    }
    
}
@media only screen and (max-width: 750px){
    .newbooking-main{
        height: fit-content;
     
    }
    input{
        width: 250px;
    }
    .newbooking-box{
        width: 300px;  
  }
  .newbooking-btn{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}
}



@media only screen and (max-width: 650px){
    .newbooking-main{
        height: fit-content;
        width: 386px;
    }

input{
    width: 200px
}
.newbooking-box{
      width: 280px;  
}
.newbooking-btn{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}
}








/* @media only screen and (max-width: 580px){
    
    input{
        width: 150px;
    }
    .popup{

    }
}


@media only screen and (max-width: 500px){
input{
    width: 116px;
}

} */
